<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!-- 开启注解注入等 -->
    <context:annotation-config />

    <!-- 开启aspectj注解 -->
    <aop:aspectj-autoproxy />

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--登陆拦截-->
    <bean id = 'loginInterceptor' class="com.mycompany.autocode.interceptor.LoginInterceptor" />

    <!-- 开启注解事务机制 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 开启声明式事务机制 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"    propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="save*"   propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="del*"    propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="do*"    propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="*WithTx" propagation="REQUIRED" rollback-for="Exception"/>
            <!-- <tx:method name="select*" read-only="true" />
            <tx:method name="query*"  read-only="true" />
            <tx:method name="get*"    read-only="true" />
            <tx:method name="verify*" read-only="true" />
            <tx:method name="exist*"  read-only="true" /> -->
        </tx:attributes>
    </tx:advice>

    <!-- 定义事务作用范围 -->
    <aop:config>
        <aop:pointcut id="taskmanager-transaction" expression="execution (* com.mycompany.autocode.service.impl.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="taskmanager-transaction" />
    </aop:config>

    <aop:config>
        <aop:pointcut id="login-interceptor" expression="execution(* com.mycompany.autocode.interceptor.*.*(..))" />
        <aop:advisor advice-ref="loginInterceptor" pointcut-ref="login-interceptor" />
    </aop:config>

</beans>